.list{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.btn{
    background-color: black;
    color: #fff;
    outline: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.title{
   margin-bottom: 1rem;
}
